@model PvOption<DtvlPv>
@{
    Model.FillSlotFromDefault(ButtonSlot.Title);
}
<section>
    @{
        if (Model.TryGetSlotRenderMulti(ButtonSlot.Title, out var TitleRenders))
        {
            foreach (var Item in TitleRenders)
            {
                @Item
            }
        }
    }
    @* <pv-tag tag="div"
            class="text-white"
            pass-attr="Model.GetAttr(ButtonSlot.Title)"
            pass-slot="Model.GetSlot(ButtonSlot.Title)">
        標題:
    </pv-tag>
    <pv-tag tag="button"
            pass-attr="Model.GetAttr(ButtonSlot.Button)"
            class="fw-bolder btn">
        @Model.RenderSlot(ButtonSlot.Icon)
        @Model.RenderSlot(ButtonSlot.Text)
    </pv-tag> *@
</section>
