@using Rugal.PartialViewRender.Model
@model PvOption

<section pv-name="@Model.PvName" style="background-color:red;" class="px-3">
    <div pv-name="Header" pv-template="Header">
        <button pv-name="Button" class="btn">ASD</button>
        Header
    </div>
    123
</section>
