@using Rugal.PartialViewRender.Model
@model PvOption

<section pv-name="@Model.PvName" class="bg-success">
    Sidebar
    <div class="p-3 border-2 border-dark">
        <div pv-name="Content">

        </div>
    </div>
</section>
