@using Rugal.PartialViewRender.Model
@model PvOption

<section pv-name="@Model.PvName" class="p-5" style="background-color:red;">
    Sidebar
    <div class="p-3 border-2 border-dark">
        <div pv-name="Content">
            <div pv-name="Title" style="background-color:red;">
                標題
            </div>
            <div pv-name="Body">
                 
            </div>
        </div>
    </div>
</section>
