@using Rugal.PartialViewRender.Model
@model PvOption

<section pv-name="@Model.PvName">
    <div class="p-3">
        @CommonRender.From(PvCommon.MenuItem)

        <div pv-template="Content">
        </div>

        <button class="btn btn-primary">查詢</button>

        <div pv-template="Footer">
            
        </div>
    </div>
</section>
