@{
    ViewData["Title"] = "Home Page";
}

<section>

    @PvCommon.From(Common.Sidebar)
    <div>
        <div pv-name="A">
            A
            <div pv-name="B" pv-out>
                B
            </div>
        </div>
        <template pv-slot="A.B">
            BB
            <div pv-name="C" pv-out>
                CC
            </div>
        </template>
        <template pv-slot="A">
            <template pv-in="B.C">
                CCC
                <div pv-name="D">
                    DDD
                </div>
            </template>
        </template>

        <template pv-in="A.B.C">
            <template pv-slot="D">
                DDDD
            </template>
        </template>

    </div>
</section>
