@{
    ViewData["Title"] = "Home Page";
}

<section>

    <!-- 使用套件的人 -->
    <pv-tag tag="div" layout="DtvlLayout.Row">
        <dtvl-pv pv-type="AppleButton" layout="DtvlLayout.Col6" pv-name="AppBtn">
            <pv-slot slot="AppleButtonSlot.Text">333</pv-slot>
        </dtvl-pv>
        <dtvl-pv pv-type="AppleButton" class="col-6 p-0 m-0">
            <pv-slot slot="AppleButtonSlot.Text">333</pv-slot>
        </dtvl-pv>
    </pv-tag>

    @*   <dtvl-pv pv-type="Test2">
    <pv-slot slot="TestSlot.A">
    321
    </pv-slot>

    <pv-slot slot="TestSlot.B" pass-type="Append">

    <pv-attr layout="TestLayout.LayoutA"
    pass-type="Append"
    class="fw-bolder" />

    <pv-attr pass-type="Append"
    style="color:yellow;" />
    <div>
    Append-B
    </div>
    </pv-slot>
    </dtvl-pv> *@
</section>
