@{
    ViewData["Title"] = "Home Page";
}

<section>
    @CommonRender.From(PvCommon.Sidebar)
    <template pv-slot="Sidebar.Content.Body"
              pv-out="Body"
              class="bg-warning">
        @CommonRender.From(PvCommon.MenuItem)
    </template>
    <template pv-in="Sidebar.Body" class=""></template>

    <!--Sidebar Slot-->
    @* <template pv-slot="Sidebar.Content">
    @CommonRender.From(PvCommon.MenuItem)
    </template> *@

    @* <template pv-slot="Sidebar.Content.MenuItem.Content" pv-out="Content">
    123
    </template> *@
</section>

<template pv-attr="Sidebar" style="">


</template>
