@{
    ViewData["Title"] = "Home Page";
}

@CommonRender.From(PvCommon.Sidebar, "test")

<!--Sidebar Slot-->
<section>
    <template pv-slot="test.Content">
        asd
    </template>
    <template pv-slot="test.Footer">
        Set Footer ASdASD
    </template>

    <template pv-attr="test"
              style="background-color:aqua;"></template>

    <template pv-attr="test.MenuItem"
              style="background-color:blueviolet;"
              class="px-1"></template>

    <template pv-attr="test.MenuItem.Header"
              style="background-color:green;"></template>

    <template pv-attr="test.MenuItem.Header.Button"
              style="background-color:brown;"></template>

</section>