@{
    ViewData["Title"] = "Home Page";
}

<section>
    <template pv-name="Layout1"
              class="row justify-content-center"></template>

    <template pv-name="Layout2"
              pv-layout="Layout1"
              class.add="bg-success"></template>

    <template pv-name="Layout3"
              class.add="border border-5"></template>

    <div pv-name="Test" pv-layout="Layout1">
        123
    </div>

    <template pv-slot="Test"
              pv-layout="Layout3"></template>

</section>
