@{
    ViewData["Title"] = "Home Page";
}

<section>
    
    <template pv-name="L-Test" class="bg-success"></template>

    <div pv-name="Div1" pv-layout="L-Test">
        <div pv-name="Div2">
            <div pv-name="Div3" pv-out>

            </div>
        </div>

        <template pv-name="Content" pv-in="Div3">
            <div pv-name="Content2">
                123
            </div>
        </template>
    </div>

    <template pv-slot="Div1.Content">
        <template pv-slot="Content2">
            AAA
        </template>
    </template>

    


</section>
