@{
    ViewData["Title"] = "Home Page";
}

<section pv-name="Test">
    @CommonRender.From(PvCommon.Sidebar)
    <!--Sidebar Slot-->
    <template pv-slot="Sidebar.Content">
        @CommonRender.From(PvCommon.MenuItem)
    </template>

    <template pv-slot="Sidebar.Content.MenuItem.Content" pv-out="Content">
        123
    </template>
</section>

<template pv-name="Test.Content">

</template>

<template pv-name="Test.Content">

</template>