@{
    ViewData["Title"] = "Home Page";
}

<section>
    @CommonRender.From(PvCommon.Sidebar)
    <template pv-slot="Sidebar"
              class="bg-info">
        <template pv-in="SubTitle">
            @CommonRender.From(PvCommon.MenuItem)
        </template>
        <template pv-in="MenuItem.Body">
            12312312
        </template>
    </template>
   
    

    @* Sidebar.Body *@

    <!--Sidebar Slot-->
    @* <template pv-slot="Sidebar.Content">
    @CommonRender.From(PvCommon.MenuItem)
    </template> *@

    @* <template pv-slot="Sidebar.Content.MenuItem.Content" pv-out="Content">
    123
    </template> *@
</section>

<template pv-attr="Sidebar" style="">


</template>
